.card_container {
  display: flex;
  justify-content: center;
  margin: 30px 70px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 70px;
}

// .card_wrapper {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   flex-wrap: wrap;
//   padding: 30px;
//   border-radius: 20px;
//   background-color: #f6f6f6;
// }

/* Responsive tablet */
@media screen and (max-width: 980px) {
  .card_container {
    margin: 0;
  }

  .card_wrapper {
    background-color: transparent;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }
}

/* Responsive mobile */
@media screen and (max-width: 650px) {
  .card_container {
    margin: 0 30px;
    padding: 0;
  }
}
